.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.header img {
  height: 80px;
  border-radius: 40px;
  
}

.header p {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}